<?xml version='1.0'?>

<launch>

    <!-- Start the Unity Updater -->
    <node name="audubon_unity" pkg="audubon_unity" type="audubon_unity.sh" output="screen"/>

    <!-- Start the rosbridge server-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />    

    <!-- Start the helper nodes-->
    <node name="audubon_unity_path_publisher" pkg="audubon_unity" type="path_publisher.py" output="screen"/>


    <node pkg="tf" type="static_transform_publisher" name="world_to_world_frame" args="0 0 0 0 0 0 world world_frame 10" />
    <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 10" />    
</launch>